@import "../../common/colors.scss";

.footer {
    background-color: #264653;
    color: #ffffff;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    bottom: 0px;
    width: 100%;
}
