@import "../../common/colors.scss";

.movies-error {
    position: relative;
    color: #ffffff;
    font-size: 1.5rem;
    top: 0px;
    width: 250px;
}

.movie-list,
.shows-list {
    margin: 20px 0;
    h2 {
        color: $font-secondary;
        margin-bottom: 10px;
        font-weight: 500;
    }
}

.movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}

@media screen and (max-width: 500px) {
    .movie-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
        grid-gap: 1rem;
        padding: 1rem;
    }
}
